@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e7dfd5;
	overflow: hidden;
}

.header {
  width: 440px;
  height: 60px;
  margin: auto;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #6e5d4b;
  text-shadow: 1px 1px 3px #ad9d8f;
	line-height: 95px;
}

.newgame {
  float: right;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  outline: none;
  width: 120px;
  height: 55px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ad9d8f;
  box-shadow: 0 0 10px #ad9d8f;
  transition: all 0.3s ease-in-out;
}

.newgame:hover, 
.bestblock:hover {
  background-color: #c2b3a3;
  transform: scale(1.05);
}

.bestblock {
	float: right;
	width: 100px;
	margin-top: 20px;
	margin-right: 25px;
	background-color: #ad9d8f;
	padding: 3px 10px 1px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ad9d8f;
	color: black;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.5s ease-in-out;
}

.text {
	font-size: 14px;
}

.score {
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}

.container {
  background-color: #ad9d8f;
  width: max-content;
  margin: auto;
  padding: 5px;
  border-radius: 8px;
  margin-top: 30px;
  position: relative;
}

.block {
  height: 100px;
  width: 100px;
  background-color: lightgray;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.tryagain, .win {
  width: 100%;
  height: 65%;
  background-color: rgb(194, 179, 163, 0.8);
  position: absolute;
  margin: -5px;
  border-radius: 8px;
  text-align: center;
  padding-top: 35%;
}

.win {
	height: 70%;
	padding-top: 30%;
}

.tryagainText,
.winText {
  font-size: 50px;
  font-weight: bold;
  color: #4b4035;
}

.winText {
	font-size: 40px;
}

.tryagainButton, 
.winButton {
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  outline: none;
  width: 120px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ad9d8f;
  box-shadow: 0 0 7px #504335;
  transition: all 0.3s ease-in-out;
}

.winButton {
	margin-top: 10px;
}

.tryagainButton:hover,
.winButton:hover {
  background-color: #a5917c;
  box-shadow: 0 0 10px black;
  transform: scale(1.05);
}

.gameinfo {
	width: 440px;
  margin: auto;
	margin-top: 20px;
	font-size: 16px;
	text-align: justify;
  text-justify: inter-word;
}

footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	color: #6e5d4b;
	font-size: 16px;
	width: 100%;
	text-align: center;
}